body{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

div{
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    background-color: white;
}